.lefttab {
  width: 400px;
  height: 600px;
  background: #fff;
}
.righttab {
  float: left;
  width: 800px;
  height: 600px;
  background: #fff;
}
.tittle {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 30px;
}
.tittle2 {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 20px;
}
.avatar {
  display: flex;
  flex: 0 1 150px;
  justify-content: center;
  padding: 10px 0;
  & > span {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
}
.startbutton {
  margin-top: 50px;
  margin-left: 130px;
}
