*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
label {
  display: block;
  width: 100%;
  font-size: 0.875rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
  font-family: sans-serif;

  .parameterGroup {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #000;

    .parameterHeader {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 0.6rem;

      h2 {
        margin: 0;
      }
    }

    .formRow {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      margin-bottom: 0.25rem;

      .formGroup {
        display: block;
        width: 15rem;
        margin-bottom: 0.75rem;
      }
      .formGroup > *:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    .optionsGroup {
      width: 100%;
      margin-bottom: 1.5rem;
      padding: 1rem;
      border: 1px solid #000;

      .formRow {
        display: flex;
        gap: 0.75rem;
        align-items: center;
        margin-bottom: 0.25rem;

        .formRowButton {
          align-self: flex-end;
        }
        .formGroup {
          display: block;
          width: 15rem;
          margin-bottom: 0.75rem;
        }
        .formGroup > *:not(:last-child) {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}

.footer {
  .downloadLink {
    margin: 2rem;
  }
  .resetButton {
    margin: 0 1rem 0 1rem;
  }
}
