@import '~antd/lib/style/themes/default.less';

.contentstyle {
  height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  color: #fff;
  font-size: 25px;
  background-size: 100% auto;
}

.center {
  text-align: center;
}

.buttonstyle {
  height: 30px;
  padding: 10px 24px;
  color: #fff;
  font-size: 10px;
  line-height: 1px;
  vertical-align: middle;
  background-color: #fff;
}

.buttonstyle:hover {
  color: #373737;
  background-color: #fff !important;
  border: 1px solid #fff;
}
