@import '~antd/lib/style/themes/default.less';

.carouselbox {
  position: relative;
  padding-top: 45%;
}

.contentstyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contentstyle2 {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 3vw;
  line-height: 4vw;
}

.center {
  text-align: center;
}

.buttonstyle {
  height: 3vw;
  font-size: 1vw;
}
